<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">>cinema</a>
                <a class="navbar-brand logo" href="#">
              <img src="~/imagesStyling/logo-se.png" alt="logo" class="img-responsive"/>
              </a>
                <a class="navbar-brand" asp-area="" asp-page="/Index">cinema</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Shows" asp-action="Index">Voorstellingen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<div id="mapssubscribe" class="container-fluid">
    <div class="row justify-content-evenly align-items-start">
        <div class="col-4">
          <style>  
               
              #dvMap {  
                  height: 40vh;
                  width: 31.6vw;  
              }  
            
              .adp-summary {
                            color: ghostwhite;
                            } 
              
              .adp-substep {
              color: ghostwhite;
              } 
              
              .adp-stepicon {
                            background: ghostwhite;
                            } 
                
              .button {  
                  background-color: blue;  
                  border: none;  
                  color: white;  
                  padding: 15px 32px;  
                  text-align: center;  
                  text-decoration: none;  
                  display: inline-block;  
                  font-size: 16px;  
                  margin: 4px 2px;  
                  cursor: pointer;  
              }  
            
              .button4 {  
                  border-radius: 9px;  
              }  
              
              .warnbox-content {
              display: none;
              }
              
              .warnbox-c1 {
                            display: none;
                            }
                            
              .warnbox-c2 {
                            display: none;
                            }
            
              input[type=text], select {  
                  width: 70%;  
                  padding: 12px 20px;  
                  margin: 10px 0;  
                  display: inline-block;  
                  border: 1px solid #ccc;  
                  border-radius: 4px;  
                  box-sizing: border-box;  
              }  
          </style>  
            
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXagAu3PsqAZ2hW-1CA7HnMY0BjBF87GM&libraries=places">  
              </script>  
          <script type="text/javascript">  
                      var source, destination;  
                      var directionsDisplay;  
                      var directionsService = new google.maps.DirectionsService();  
                      google.maps.event.addDomListener(window, 'load', function () {  
                          new google.maps.places.SearchBox(document.getElementById('txtSource'));  
                          directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });  
                      });  
            
                      function GetRoute() {  
                          var cinema = new google.maps.LatLng(51.5840, 4.7979);  
                          var mapOptions = {  
                              zoom: 16,  
                              center: cinema  
                          };  
                          map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);  
                          directionsDisplay.setMap(map);
                          directionsDisplay.setPanel(document.getElementById('dvPanel'));
                          
                          source = document.getElementById("txtSource").value;  
                          destination = cinema;  
                          
                          var selectedMode = document.getElementById("mode").value;
                          
                          var request = {  
                              origin: source,  
                              destination: destination,  
                              travelMode: google.maps.TravelMode[selectedMode] 
                          };  
                          directionsService.route(request, function (response, status) {  
                              if (status === google.maps.DirectionsStatus.OK) {  
                                  directionsDisplay.setDirections(response);  
                              }  
                          });  
            
                            
                          var service = new google.maps.DistanceMatrixService();  
                          service.getDistanceMatrix({  
                              origins: [source],  
                              destinations: [destination],  
                              travelMode: google.maps.TravelMode[selectedMode],  
                              unitSystem: google.maps.UnitSystem.METRIC,  
                              avoidHighways: false,  
                              avoidTolls: false  
                          }, function (response, status) {  
                              if (status === google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status !== "ZERO_RESULTS") {  
                                  var distance = response.rows[0].elements[0].distance.text;  
                                  var duration = response.rows[0].elements[0].duration.text;  
                                  var dvDistance = document.getElementById("dvDistance");  
                                  dvDistance.innerHTML = "";  
                                  dvDistance.innerHTML += "Afstand is: " + distance + "<br />";  
                                  dvDistance.innerHTML += "Tijd: " + duration;  
                                  //alert(dvDistance.innerHTML);  
                              } else {  
                                  alert("Aanvraag niet beschikbaar");  
                              }  
                          });  
                      }  
                  </script>
                    <input type="text" id="txtSource" placeholder="Vanaf" />
                                 
                              <input type="button" value="Route" onclick="GetRoute()" class="button button4" />
                                  <div id="Dropdown">  
                                  <b>Ik kom: </b>  
                                  <select id="mode">  
                                      <option value="DRIVING">Met de auto</option>  
                                      <option value="WALKING">Lopend</option>  
                                      <option value="BICYCLING">Fietsend</option>  
                                      <option value="TRANSIT">Met de OV</option>  
                                  </select>
                                  </div>
                              <hr />  
                              <div id="dvDistance" style="font-weight:bold; text-align: center">  
                              </div>
                              <div id="dvMap">  
                              </div>                                 
                              <div id="dvPanel">  
                              </div>
        </div>
        <div class="col-4">
            <div>
                <h4>Aanmelden voor nieuwsbrief</h4>
                <form method="post" asp-action="Create" asp-controller="Subscribers">
                    <input name="email" type="text" placeholder="Email adres">
                    <input type="submit" value="Aanmelden">
                </form>
            </div>
        </div>
    </div>
</div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - cinema - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

<script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>