@inject SignInManager<IdentityUser> _signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
<header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <img src="~/imagesStyling/logo-se.png" alt="logo" class="img-responsive"/>
            </a>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">cinema</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Shows" asp-action="Index">Voorstellingen</a>
                    </li>
                    @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-dark" asp-controller="Administration"
                                   asp-action="ListUsers">Users</a>
                                <a class="dropdown-item text-dark" asp-controller="Administration"
                                   asp-action="ListRoles">Roles</a>
                            </div>
                        </li>
                    }
                     @if (_signInManager.IsSignedIn(User) && User.IsInRole("Backoffice-medewerker"))
                     {
                         <li class="nav-item">
                             <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Create">Film toevoegen</a>
                         </li>
                     }
                     @if (_signInManager.IsSignedIn(User) && User.IsInRole("Kassamedewerker"))
                     {
                         <li class="nav-item">
                             <a class="nav-link" asp-area="" asp-controller="LostAndFounds" asp-action="Index">Verloren voorwerpen</a>
                         </li>
                     }
                           @if (_signInManager.IsSignedIn(User) && User.IsInRole("Kassamedewerker"))
                     {
                         <li class="nav-item">
                             <a class="nav-link" asp-area="" asp-controller="Abonnements" asp-action="Index">Abonnementen</a>
                         </li>
                     }
                </ul>
                     <ul class="navbar-nav ml-auto">
                                     
                                        
                                        @if (User?.Identity?.IsAuthenticated ?? false) 
                                        {
                                            <li class="nav-item">
                                                <form method="post" asp-action="logout" asp-controller="Users">
                                                    <button type="submit">
                                                        logout @User.Identity.Name
                                                    </button>
                                                </form>
                                            </li>
                                        } else {
                                            
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Users" asp-action="Register">Register</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Users" asp-action="Login">Login</a>
                                            </li>
                                        }
                     </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<div class="footer-containe mt-5">
    <div id="mapssubscribe" class="container-fluid">
        <div class="row justify-content-evenly align-items-start">
            <div class="col-4">
                <input type="text" id="txtSource" placeholder="Vanaf"/>
                <input type="button" value="Route" onclick="GetRoute()" class="btn btn-primary btn-lg"/>

                <div id="Dropdown">
                    <b>Ik kom: </b>
                    <select id="mode">
                        <option value="DRIVING">Met de auto</option>
                        <option value="WALKING">Lopend</option>
                        <option value="BICYCLING">Fietsend</option>
                        <option value="TRANSIT">Met de OV</option>
                    </select>
                </div>
                <hr/>
                <div id="dvDistance" style="font-weight:bold; text-align: center">
                </div>
                <div id="dvMap">
                </div>
                <div id="dvPanel">
                </div>
            </div>
            <div class="col-4">
                <div>
                    <h4>Aanmelden voor nieuwsbrief</h4>
                    <form method="post" asp-action="Create" asp-controller="Subscribers">
                        <input name="email" type="text" placeholder="Email adres">
                        <input type="submit" class="btn btn-primary btn-lg" value="Aanmelden">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="shadow footer text-muted bg-black py-4 fixed-bottom">
    <div class="container footer-container text-white d-flex justify-content-between">
        <div>
            &copy; 2022 - cinema - <a asp-page="/Privacy" class="text-decoration-none">privacy</a>
        </div>
        <div>
            <a class="social-media text-decoration-none" href="https://www.facebook.com/avans/">
                <img src="~/imagesStyling/fb-bw.png" alt="fb" class="img-responsive mx-2" style="max-width: 30px"/>
            </a>
            <a class="social-media text-decoration-none" href="https://www.instagram.com/avanshogeschool/?hl=en">
                <img src="~/imagesStyling/ig-bw.png" alt="ig" class="img-responsive mx-2" style="max-width: 30px"/>
            </a>
            <a class="social-media text-decoration-none" href="https://twitter.com/avanshogeschool?lang=en">
                <img src="~/imagesStyling/tw-bw.png" alt="tw" class="img-responsive mx-2" style="max-width: 30px"/>
            </a>
        </div>

    </div>
</footer>

<script src="~/lib/bootstrap/bootstrap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXagAu3PsqAZ2hW-1CA7HnMY0BjBF87GM&libraries=places">  
              </script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>