html {
  font-size: 14px;
  color:ghostwhite !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: ghostwhite;
    }
}

html {
    position: relative;
    min-height: 100%;
    color: ghostwhite;
}

body {
    margin-bottom: 60px;
    background-image: url(../imagesStyling/background.jpg);
    background-size: cover;
    color:ghostwhite;
}

.card.show h5{
  min-height:4rem;
}

a {
    color:ghostwhite !important;
}

.logo {
    width: 75px !important;
    height: 56px !important;
}

footer{
    max-height:100px;
}

.footer-container{
    margin-bottom:0;
}

h1{
    color:ghostwhite;
}