@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test Subscribers</title>
</head>
<body>
<div>
    <form method="post" asp-action="Create">
    <input name="email" type="text" placeholder="Email adres">
    <input type="submit" value="Aanmelden">
    </form>
</div>
</body>
</html>