@model IEnumerable<cinema.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">
    @foreach (var show in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <a asp-controller="Tickets" asp-action="Quantity" asp-route-id="@show.Id">
                    <img class="img-fluid" src="@show.Movie.Poster"/>
                </a>
            </div>
            <div class="col-md-8">
                <h1>@show.Movie.Name</h1>
            </div>
        </div>

    }
</div>